
<template id="data-table-template">
    <div class="mdl-card mdl-shadow--2dp" data-bind="with: @table" style="width: 100%">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text" data-bind="text: header"></h2>
        </div>
        <div style="width: 80%">

            <table class="mdl-data-table" >
                <thead>
                    <tr data-bind="foreach: columns">
                        <th data-bind="component: { name: 'column-header', params: $data },visible: visibility | isVisible"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: elements"> <!--Rows-->
                <tr data-bind="foreach: elements" > <!--Cells-->
                    <!--CELL-->
                    <td data-bind="css: { 'cell-dirty' : @isDirty }, visible: visibility | isVisible" >
                        <div style="display: flex">
                            <!--Text Field-->
                            <input data-bind="value: @value"/>
                            <!--UNDO button-->
                            <div data-bind="visible: @isDirty" >
                                <button class="mdl-button mdl-button--icon"
                                        data-bind="command: undoCmd">
                                    <i class="material-icons">undo</i>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
               < [1] ... [5] >
            </a>
        </div>
        <div class="mdl-card__menu">
            <div style="display: flex">
                <div data-bind="component: { name: 'table-columns' , params: $data }"></div>
                <div data-bind="component: { name: 'table-actions' , params: $data }"></div>
            </div>
        </div>
    </div>

</template>

<template id="column-header">
    <div style="display: flex;">
        <div class="mdl-card__menu">
            <div data-bind="component: { name: 'column-actions' , params: $data }"></div>
        </div>
        <span data-bind="text: header || key "></span>
    </div>

</template>

<template id="table-columns">
    <button data-bind="attr: { id: 'table-columns_menu_'+id }"
            class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">visibility</i>
    </button>

    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        data-bind="attr: { for: 'table-columns_menu_'+id }, foreach: columns">
        <li data-bind="
                command: { command: toggleCmd, parameter: 'visibility' },
                enabled:  enabled">
            <div style="display: flex; flex-direction: row; justify-content:space-between;align-items: center;">
                <span  data-bind="text: key" ></span>
                <i class="material-icons" data-bind="text: visibility | visibility_icon" ></i>
            </div>
        </li>
        <!--<li disabled class="mdl-menu__item">Disabled Action</li>-->
        <!--<li class="mdl-menu__item">Yet Another Action</li>-->
    </ul>
</template>

<template id="column-actions-template" >

    <button data-bind="attr: { id: 'column_action_'+id }"
            class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">menu</i>
    </button>

    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        data-bind="attr: { for: 'column_action_'+id }">
        <li class="mdl-menu__item">
            <div style="display: flex; flex-direction: row; justify-content:space-between;align-items: center; margin: 5px"
            data-bind=" command: { command: toggleCmd, parameter: 'visibility' }">
                <span >hide</span>
                <i class="material-icons" data-bind="text: visibility | visibility_icon" ></i>
            </div>
        </li>
        <li class="mdl-menu__item">
            <div style="display: flex; flex-direction: row; justify-content:space-between;align-items: center; margin: 5px">
                <i class="material-icons" data-bind=" command: { command: moveCmd, parameter: '-' }">chevron_left</i>
                <span >move</span>
                <i class="material-icons" data-bind=" command: { command: moveCmd, parameter: '+' }">chevron_right</i>
            </div>
        </li>
    </ul>
</template>

<template id="column-header-template">
    <!--context: Column, desc: 'default header template, plain text'-->
    <span data-bind="text: header">
    </span>
</template>

<template id="column-header-checkbox-template">
    <!--context: Column, desc: 'default header template, plain text'-->
    <button class="mdl-button mdl-button--icon"
            data-bind="command: toggleValue">
        <i class="material-icons" >swap_vert</i>
    </button>
</template>

<template id="wx-checkbox-template">
    <!--DataContext: { value: wx.IObservableProperty>boolean> } -->
    <button class="mdl-button mdl-button--icon"
            data-bind="command: command">
        <i class="material-icons" data-bind="text: value | toggleCheck "></i>
    </button>
</template>
